<%= form_for(@secondpost) do |f| %>
  <% if @secondpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secondpost.errors.count, "error") %> prohibited this secondpost from being saved:</h2>

      <ul>
      <% @secondpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
