<p id="notice"><%= notice %></p>

<h1>Listing Thirdposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thirdposts.each do |thirdpost| %>
      <tr>
        <td><%= thirdpost.title %></td>
        <td><%= thirdpost.content %></td>
        <td><%= thirdpost.image %></td>
        <td><%= link_to 'Show', thirdpost %></td>
        <td><%= link_to 'Edit', edit_thirdpost_path(thirdpost) %></td>
        <td><%= link_to 'Destroy', thirdpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thirdpost', new_thirdpost_path %>
